<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
      <h2>All Images</h2>
      <div class="inner">
        
        <% if (media.length > 0) { %>
        <% media.forEach(media_urls => { %> 
            
            <a href="<%= media_urls.media_url %>" target="_blank" rel="noopener noreferrer"><%= media_urls._id %></a>
            <% }) %> 
     <% } else { %>
        <p>There are no blogs to display...</p>
        <% } %> 
      
      </div>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
